body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

button {
  border-radius: 5px;
}

/*p {
  border: 1px solid red;
}

div {
  border: 1px solid green;
}*/

#main {
  max-width: 800px;
  display: flex;
  width: 70vw;
  height: 60vh;
  margin-top: 5rem;
  border-radius: 20px;
}

.inline {
  display: inline;
}

/****************************projects************************************/

#projects {
  width: 100%;
}

#projectName {
  font-style: italic;
}

.projectDiv {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 7px 0 7px 0;
}

.projectInfoElement {
  margin: 0;
}

.projectDiv:hover {
  border-radius: 10px;
  background-color: #193761;
}

.addProjectFormRow {
  display: grid;
}

#addProjectBtnCont {
  display: flex;
  justify-content: center;
}

#projectSubmitBtn {
  margin-top: 5px;
}

#projectFormCloseBtn {
  padding: 3px;
  left: 180px;
  bottom: 15px;
  position: relative;
  display: inline;
}

#projectFormCloseBtn:hover {
  border-radius: 10px;
  background-color: red;
}

#addProjectDialog {
  position: absolute;
}

.deleteProjectBtn {
  display: inline;
}

.deleteProjectBtn:hover {
  border-radius: 10px;
  background-color: red;
}

/****************************todos************************************/

#todos {
  background-color: #162131;
  width: 70%;
  border-radius: 0px 20px 20px 0px;
}

#leftsideBar {
  background-color: #0B192C;
  width: 30%;
  border-radius: 20px 0px 0px 20px;
}

#addStuffCont {
  display: flex;
  justify-content: space-evenly;
}

.todoParagraphElem {
  display: inline;
}

.removeTodoBtn {
  width: 1.5rem;
  text-align: center;
}

.todoTitle {
  padding: 5px;
}

.addTodoFormRow {
  margin-bottom: 15px;
  display: grid;
  gap: 0.3em
}

.addTodoFormRow > label > input {
  max-width: 8rem;
  border-radius: 10px;
}

#addTodoDialog {
  position: absolute;
}

#todoFormCloseBtn {
  padding: 3px;
  left: 185px;
  bottom: 15px;
  position: relative;
  display: inline;
}

#todoFormCloseBtn:hover {
  border-radius: 10px;
  background-color: red;
}

#radioButtonSection {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

#radioButtonCont {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.todoTitle:hover {
  border-radius: 10px;
  background-color: #193761;
}

#todoFormButtonCont {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.radioBtnAndLabelCont {
  display: flex;
  justify-content: space-between;
}

.todoElementContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 5px 5px;
}

.removeBtnAndDateCont {
  display: flex;
}

.removeTodoBtn {
  margin-left: 10px;
}

.removeTodoBtn:hover {
  border-radius: 10px;
  background-color: red;
}
