body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid red;
}

#projects {
  width: 100%;
}

#todos {
  width: 50vw;
}

#leftsideBar {
  height: 100vh;
  width: 20vw;
}
